.view__todo {
    margin: 8rem 2rem;
}

.view__todo {
    width: 100vw;
}
.view__todo__inner {
    padding: 2rem;
}

.view__todo-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.view__todo-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0.8rem;
}

.view__todo-item__inner {
    display: flex;
    width: 100%;
    gap: 0.8rem;

}

.view__todo-item__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  /* 필요하면 사이즈/스타일 */
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
}

.view__lined {
  width: 100%
  height: 100%;
  padding: 0.1rem;
  border: none;
  resize: none;
  font-size: 0.7rem;
  line-height: var(--line-height);

  /* 노트 줄무늬 배경 */
  background-image:
    linear-gradient(
      to bottom,
      transparent calc(var(--line-height) - 1px),
      #e6e6e6 calc(var(--line-height) - 1px)
    );
  background-size: 100% var(--line-height);
}


.view__input {
    display: flex;
    gap: 0.8rem;
}

.view__input__button {
  display: flex;
  align-items: center;
  justify-content: center;

  /* 필요하면 사이즈/스타일 */
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
}

.view__todo__outer {
    display: flex;
    justify-content: center;
    align-items: center;
}


